MONGODB_URI=mongodb+srv://rajaaliwaqar_db_user:MrJvU2Zk74rqXzMa@cluster0.gywk11c.mongodb.net/portfolio?retryWrites=true&w=majority
EMAIL_USER=aliwaqarzafar04@gmail.com
EMAIL_PASS=wvch fakw scnd uthe
CLIENT_URL=http://localhost:5173
PORT=5000